
@model MVCSTOK.Models.Entity.musteriler

@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayoud.cshtml";
}

@using (Html.BeginForm("Güncelle", "Musteri", FormMethod.Post))


{
    <div class="form-group">
        @Html.LabelFor(m => m.MUSTERİID)
        @Html.TextBoxFor(m => m.MUSTERİID, new { @class = "form-control" })

        <br />

        @Html.LabelFor(m => m.MUSTERİAD)
        @Html.TextBoxFor(m => m.MUSTERİAD, new { @class = "form-control" })

        <br />

        @Html.LabelFor(m =>m.MUSTERİSOYAD)
        @Html.TextBoxFor(m => m.MUSTERİSOYAD, new { @class = "form-control" })

    </div>

    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>

}


